<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulacan</title>
   <link href="{{url_for('static', filename='css/more.css')}}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('home') }}" class="nav-link">Cent<span style="color:yellow">rail</span><span style="color: Blue">Exp</span><span style="color:red">ress</span></a>
      <img src="static/images/Clmap.jpg" alt="">
    </nav>
   <header>
    <div class="center">
      <div class="headline">
      <h4>Bulacan</h4>
      <p>14.7943° N, 120.8799° E</p>
      </div>
      <img src="static/images/Bulacanmap.png" alt="">
    </div>
   </header>

   <div id="Content">
   
    <div id="Panes"><div>
    <h2>Facts</h2>
    <p>Bulacan is also home to many of the country's greatest artists, with a good number elevated as National Artists; among them: the legendary poet Francisco "Baltazar" Balagtas, the musician Nicanor Abelardo, and the nationalist sculptor Guillermo Tolentino.

        Today, Bulacan is among the most progressive provinces in the Philippines. Its people - the Bulakeño (or Bulakenyo) - are highly educated, enterprising and industrious.
        
        Bulacan is well-known for the following industries: Marble and Marbleized Limestone, Jewelry, Pyrotechnics, Leather, Aquaculture, Meat and Meat Products, Garments, Furniture, High-Value Crops, and Sweets and Native Delicacies, and a wide variety of high-quality native products.
        
        Dubbed as the "Northern Gateway from Manila," Bulacan is indeed an ideal investment destination owing largely to the following factors: Strategic Location; Highly Productive Human Resources; Abundant Natural Resources; Well-Developed Infrastructure Support; Reasonable Cost for Doing Business; Effective Government and Private Sector Partnership for Investments; Favorable Peace and Order Situation; and Attractive Investments Incentives.
        
        Bulacan has fast become an ideal tourist destination, owing to its vital role in Philippine history, and its rich heritage in culture and the arts. The province is popularly known for its historical sites; nostalgic old houses and churches; idyllic ecological attractions; religious attractions; colorful and enchanting festivals; swimming and various themed attractions; and a wide selection of elegant native crafts and sumptuous delicacies. It is also home to numerous resorts, hotels, restaurants, and other recreational facilities.</p>
    </div><div>
    <h2>History</h2>
    <p>The history of the province from the Spanish occupation has been replete with events worthy of recollection. As early as the time of the coming of Legaspi to conquer Manila with two of his subordinate officers, Martin de Goiti and Juan Salcedo, the Bulakeños thru their seafaring brothers from Hagonoy showed their instinctive love of country by helping Raja Soliman, King of Manila, fight the Battle of the Bangkusay Channel.

        The history began when a small settlement of fishermen lived along the coast of Manila Bay before the coming of the Spaniards. Later on, these settlers became farmers after moving inwards as they discovered that the land in the interior part was fertile and very much drained by the network of rivers and streams. These settlers grew and flourished into large and prosperous settlement now known as the province of Bulacan.
        
        It is believed that flowers bloomed in the region when the Spaniards came. Because of these sprawling green orchards, vegetables and profusely flowering plants, as well as the beautiful women, this lovely land had come to be called Bulacan as sort of shortened term for "bulak-lakan" and/or a derivative of the word "bulak" (kapok) which abound in the province even before the Spaniards came.
        
        The signing of the Pact of Biak-na-Bato in 1897 was a brilliant chapter in the history of Bulacan. However, the crowning glory among the series of historical events in the province was the establishment of the Capital of the First Philippine Republic in Malolos. The Malolos Church and the Barasoain Church will be both remembered as the executive headquarters of President Aguinaldo and as the Legislative, from September 10, 1898 to March 29, 1899. It was also in Malolos that the famous and historical document, the Malolos Constitution, was drafted and ratified.</p>
    </div><br /><div>

    
  </body>
</html>