<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NuevaEcija</title>
  <link href="{{url_for('static', filename='css/more.css')}}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('home') }}" class="nav-link">Cent<span style="color:yellow">rail</span><span style="color: Blue">Exp</span><span style="color:red">ress</span></a>
      <img src="static/images/Clmap.jpg" alt="">
    </nav>
   <header>
    <div class="center">
      <div class="headline">
      <h4>NuevaEcija</h4>
      <p>15.5784° N, 121.1113° E</p>
      </div>
      <img src="static/images/NuevaEcijamap.jpg" alt="">
    </div>
   </header>

   <div id="Content">
   
    <div id="Panes"><div>
    <h2>Facts</h2>
    <p>Nueva Ecija is one of the top producers of agricultural products in Central Luzon. In fact, the province’s name comes from the Spanish invaders’ hometown of Ecija in Spain. Geographically, Nueva Ecija shares borders with the provinces of Bulacan, Pampanga, Tarlac, Pangasinan, Nueva Vizcaya and Aurora. Furthermore, the province is nationally recognized as the Rice Granary of the Philippines. That is because Nueva Ecija is home to a broad plantation of rice and beautiful landscapes. These and the variety of cuisine, traditions, and culture create Nueva Ecija’s diverse fine cooking. In addition, there are many historical landmarks to visit and attractions to explore. This makes the province of Nueva Ecija one of the best places to visit in Central Luzon.</p>
    </div><div>
    <h2>History</h2>
    <p>Early in history, Nueva Ecija was once a forested area. Here, settlers coming from East, North, and West Vast of Southern plains used to dwell. Plus, they are thought to be skilled in survival and were among the first native settlers of the Philippines. 

        Due to the sprawling and geologically diverse properties like plains, rivers, and mountains of the land of Nueva Ecija, many tribes migrated and lived along the rivers, making fishing and hunting their source of food. 
        
        Tribes that developed along the big river thrived on barter trading. The frequent riverfront trading brought both commercial and cultural contact to the towns. This is especially true in the immense plains of Carranglan, Pantabangan, Bongabon, and Puncan settlements. All of these settlements prospered and developed into more substantial communities.</p>
    </div><br /><div>

    
  </body>
</html>