<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zambales</title>
        <link href="{{url_for('static', filename='css/more.css')}}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('home') }}" class="nav-link">Cent<span style="color:yellow">rail</span><span style="color: Blue">Exp</span><span style="color:red">ress</span></a>
      <img src="static/images/Clmap.jpg" alt="">
    </nav>
   <header>
    <div class="center">
      <div class="headline">
      <h4>Zambales</h4>
      <p>15.5082° N, 119.9698° E</p>
      </div>
      <img src="static/images/zambalesmap.jpg" alt="">
    </div>
   </header>

   <div id="Content">
   
    <div id="Panes"><div>
    <h2>Facts</h2>
    <p>    Zambales has been gifted with the natural beauty of its surroundings. It has been touched by civilization yet has maintained its rustic glory and beauty. The Zambales coastline is most famous for its sandy beaches and deep blue sea teeming with coral reefs.

        The province is historical. Located here is the ancestral house of the most beloved Philippine President, Ramon Magsaysay, situated at Castillejos. Mt. Pinatubo, world-famous for its 1991 catastrophic eruption, can be found in the vicinity.

        Zambales is perfectly suited for visitors seeking an authentic view of the Philippines without going too far from the national capital, Manila. It is located at the western part of Luzon, 210 kilometers or approximately a three-hour drive from Manila.</p>
    </div><div>
    <h2>History</h2>
    <p>The name of the province is derived from its earliest inhabitants, the Zambals. They worship spirits called "anitos", thus they were reffered to as "Sambali" from the Malay word samba, meaning "to worship". The term was later Hispanicized to "Zambal".

        Zambales was one of the earliest provinces created during the Spanish rule. As founded in the 16 th century. it comprised an area extending from Cape Bolinao in the north to Subic Bay in the south. Due to their inaccessibilty from the capital, seven towns in the northern portion of Zambales, from Bolinao to Infanta and including Alaminos, were later ceded to Pangasinan, forming its western part.
        
        Zambales is the home province of the seventh president of the Republic, Ramon Magsaysay, who hailed form Castillejos.</p>
    </div><br /><div>

    
  </body>
</html>